page-page-three {

}

.masters {
    background: rgba(255,255,255,0.2);
    background-image: url('../../assets/imgs/tomato.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }

.cardconteudo {
    background: rgba(255,255,255,0.2);
}